body {
  background: #0f0f14;
  font-family: sans-serif;
}

/* BOX NHẸ */
.box {
  background: #16161d;
  margin: 8px;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,255,255,0.2);
}

/* NÚT NHỎ + BO */
button, select {
  padding: 6px 10px;
  border-radius: 20px;
  border: none;
  background: #1f1f2a;
  color: white;
  margin-top: 5px;
  font-size: 12px;
}

/* SWITCH NHẸ */
.switch span {
  width: 34px;
  height: 18px;
}

.switch span::after {
  width: 14px;
  height: 14px;
}

/* TEXT NHẸ */
h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* ĐỘ NHẠY */
#sensResult {
  margin-top: 8px;
  font-size: 12px;
  color: cyan;
}
